.bg-Barra2 {
  background-color: #333; // Cambia este valor según tus necesidades
}

.bg-barra3 {
  background-color: #444; // Cambia este valor según tus necesidades
}

.brand-container {
  display: flex;
  align-items: center;

  img {
    width: 50px; // Ajusta el tamaño del logo según tu diseño
  }

  .brand-title {
    margin: 0;
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #f2eddb;
  }
}

.navbar-nav .nav-link {
  &.cuerpo {
    font-size: 16px; // Ajusta el tamaño de la fuente según tu diseño
  }

  @include media-breakpoint-down(lg) {
    text-align: center;
    padding: 10px;
    width: 100%;
    margin: 5px 0;
  }
}
