.sugerencias {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .col-12,
    .col-sm-6,
    .col-md-4,
    .col-lg-6 {
      flex: 0 0 100%; // Ocupar el 100% del ancho en pantallas pequeñas
      max-width: 100%; // Limitar el ancho máximo al 100%
      margin-bottom: 20px; // Espacio entre las tarjetas

      @media (min-width: 576px) { // Pantallas pequeñas y superiores
        flex: 0 0 50%;
        max-width: 50%;
      }

      @media (min-width: 768px) { // Pantallas medianas y superiores
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
      }

      @media (min-width: 992px) { // Pantallas grandes y superiores
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }

  .card {
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &:hover {
      transform: translateY(-5px); // Efecto de levantamiento al hacer hover
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Sombra más intensa al hacer hover
    }

    .card-img-top {
      height: 200px; // Altura de la imagen de la tarjeta
      object-fit: cover; // Ajuste de la imagen
    }

    .card-body {
      padding: 10px;
    }

    .card-title {
      font-size: 1.2rem; // Tamaño del título
      margin-bottom: 10px; // Espacio bajo el título
    }

    .card-text {
      font-size: 1rem; // Tamaño del texto
      color: #555; // Color del texto
    }
  }
}
