html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #F1BA86;
}

header {
    background-color: #614E3B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px 5px 15px;
}

.logo {
    width: 80px;
}
header input {
    height: 35px;
    border-radius: 100px;
    width: 40%;
}
#menu{
    width: 60px;
}
nav {
    background-color: #D0B389;
    padding: 5px 15px 5px 15px;
    display: flex;
    justify-content: space-evenly;
}
nav a {
    font-size: 23px;
    text-decoration: none;
    color: black;
}
.MenuDelDia {
    width: 100%;
    height: 25%;
    background-color: #474740;
    overflow: hidden;
    margin: 0;
    color: antiquewhite;
}
.MenuDelDia img {
    height: 150%;
    width: 50%;
    margin-right: 30px;
    float: left;
}
main {
    text-align: center;
}
main h2 {
    margin-bottom: 0;
}

.sugerencias {
    display: flex;
}

.comidas, .bebidas {
    width: 50%;
}

.prod img {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    margin: 0 15px 0 15px;
}

.productos {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.descript {
    text-align: center;
    font-weight: bold;
}

footer {
    background-color: #474740;
    color: antiquewhite;
    line-height: 20px;
    padding: 10px;
    display: flex;
    list-style: none;

    justify-content: space-evenly;
    
}

footer a {
    text-decoration: none;
    color:antiquewhite;
    display: flex;
}

ul {
    padding-left: 20px;
    list-style: none;
}
