html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #F1BA86;
}

header {
    background-color: #614E3B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px 5px 15px;
}

.logo {
    width: 80px;
}
header input {
    height: 35px;
    border-radius: 100px;
    width: 40%;
}
#menu{
    width: 60px;
}
nav {
    background-color: #D0B389;
    padding: 5px 15px 5px 15px;
    display: flex;
    justify-content: space-evenly;
}
nav a {
    font-size: 23px;
    text-decoration: none;
    color: black;
}
.MenuDelDia {
    width: 100%;
    height: 25%;
    background-color: #474740;
    overflow: hidden;
    margin: 0;
    color: antiquewhite;
}
.MenuDelDia img {
    height: 150%;
    width: 50%;
    margin-right: 30px;
    float: left;
}
main {
    justify-content : center;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    
}

main h4 {
    text-align: center;
    margin-bottom: 0;
}
h2 {
    display: block;
}

.sugerencias {
    display: flex;
}

.comidas, .bebidas {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;   
}

footer {
    background-color: #474740;
    color: antiquewhite;
    line-height: 20px;
    padding: 10px;
    display: flex;
    list-style: none;

    justify-content: space-evenly;
    
}

footer a {
    text-decoration: none;
    color:antiquewhite;
    display: flex;
}

ul {
    padding-left: 20px;
    list-style: none;
}

.izqui {
    grid-row: 1;
    grid-column: 1;
}
ul {
    padding-left: 20px;
    list-style: none;

}
.imagen {
    border-radius: 100px;
    float: left  ;
    height: 80px;
    width: 80px;
    margin-left: 15px;
}
article {
    line-height: 5px;
    padding-top: 15px;
}
.nombre, .descripcion, .precio {
    padding-left: 120px;
}
.nombre {
    font-size: 25px;
}
