.content {
    .producto-item {
      margin-bottom: 20px;
  
      .d-flex {
        margin-top: 10px;
  
        button {
          margin-right: 10px;
        }
      }
    }
  }
  &:hover {
    transform: translateY(-5px); // Efecto de levantamiento al hacer hover
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Sombra más intensa al hacer hover
  }
  