.producto {
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  
    &:hover {
      transform: translateY(-5px); // Efecto de levantamiento al hacer hover
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Sombra más intensa al hacer hover
    }
  
    .rounded-circle {
      border-radius: 50%;
    }
  
    .card-title {
      font-size: 1.2rem; // Tamaño del título
      margin-bottom: 10px; // Espacio bajo el título
    }
  
    .card-text {
      font-size: 1rem; // Tamaño del texto
      color: #555; // Color del texto
    }
  }
  