@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";


$bont: #614E3B;
$mostaza: #f2eddb;

// Create your own map
$custom-colors: (
  "Barra": #D0B389,
  "Barra2": #614E3B,
  "barra3": #925124,
  "naranj": #FF7D00,
  "input": rgb(255, 255, 255),
);

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.custom-height {
  height: 75%;
  /* 75% de la altura de la ventana */
}

.abajo {
  bottom: 0;
}

.MenuDelDia {
  width: 100%;
  height: 25%;
  background-color: #474740;
  overflow: hidden;
  margin: 0;
  color: antiquewhite;

  img {
    height: 150%;
    width: 50%;
    margin-right: 30px;
    float: left;
  }
}


.cont-cont {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  background-color: #614E3B;
}


main {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0 15px;

  h2 {
    display: block;
  }
}


.comidas,
.bebidas {
  display: flex;
  flex-direction: column;

  .cartel {
    display: flex;
    align-items: center; // Centra verticalmente los elementos

    .imagen {
      border-radius: 50%;
      height: 80px;
      width: 80px;
      margin-right: 15px;
      flex-shrink: 0; // Evita que la imagen se reduzca para ajustarse
    }

    .card-body {
      flex: 1; // Hace que el contenido ocupe todo el espacio restante horizontalmente

      .nombre {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
      }

      .descripcion {
        margin-bottom: 1rem;
      }

      .precio {
        font-weight: bold;
      }
    }
  }
}

// Producto.module.scss

.custom-card {
  display: flex;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.01);
  }

  .card-img-top {
    flex-shrink: 0;
    width: 100px;
    height: auto;
    margin-right: 15px;
  }

  .card-body {
    flex-grow: 1;
    padding: 15px;

    // Asegúrate de agregar el punto y coma al final de la línea
    display: flex;
    flex-direction: column; // Asegura que los elementos dentro de card-body se apilen verticalmente
  }

  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .card-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}


.texto-titulo {
  color: $mostaza;
}


// styles.scss

@font-face {
  font-family: 'Alfa Slab One';
  src: url('./fonts/AlfaSlabOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./fonts/static/PlayfairDisplay-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.cuerpo {
  font-family: 'Alfa Slab One', sans-serif;
  letter-spacing: 0.1em;
}

.labe {
  font-family: 'Playfair Display', serif;
}

.sobreado {
  text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000, 1px 1px 2px #000; /* Borde del texto */
}

.reda {
  color: #FF7D00;
}

.naranj {
  color: #78290F;
}

// Otros estilos...
.fondito {
  background-image: url("../img/registro/libreta.png");
  background-size: 100% 99%;
  background-position: center;
  background-repeat: no-repeat;
}

.fondoTabla {
  background-image: url("../img/inicioSesion/tabla.png");
  background-size: 100% 99%;
  background-position: center;
}

.contenedor {
  background-image: url("../img/registro/contenedor.png");
  background-size: cover;
  background-position: center;
}

// Estilos para el contenedor del carousel
.carousel-container {
  max-width: 500px; // Ajusta el ancho máximo del carousel según tu diseño
  margin: 0 auto;   // Centra el carousel horizontalmente
  margin-top: 15px;
}

// Estilos para las imágenes dentro de cada slide del carousel
.carousel-item-image {
  width: 100%; // Ajusta el ancho de las imágenes al 100% del contenedor del slide
  height: 90%; // Mantén la altura automática para mantener la proporción de la imagen
}


// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);


@import '../../node_modules/bootstrap/scss/bootstrap.scss';